<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_pose_estimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>train_trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BC4CD72C86F42DA902E0CBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E4B33E5EC694744BB535A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7759FD6744014A85A34AF1DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A80D06A6B23499AB5E5E513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7684FD7EA249D38C53884A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0F7F73844741F0904EBBE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD18E83247114D408D83A83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F72D82BE9AF14470B6AFF766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
